In [1]:
import pickle
import pandas as pd
import numpy as np
import keras

Using TensorFlow backend.

In [5]:
class Hurricane:
    def __init__(self, ocean, id_no, year, name, length, hurr_data ):
        self.ocean = ocean
        self.id_no = id_no
        self.year = year
        self.name = name
        self.length = length
        self.hurr_data = hurr_data

In [10]:
def load_hurr_data():
    filename = r'pickledump.txt'
    filehandler = open(filename, 'rb') 
    new_stuff = pickle.load(filehandler)
    return new_stuff

In [12]:
hurricanes = load_hurr_data()

In [31]:
hurricanes[0].hurr_data

,Year,Month,Day,Hour,Minute,Identifier,Status,Latitude,Lat_Hemisphere,Longitude,...,Max-wind,Max_Pressure,NE_34,SE_34,SW_34,NW_34,NE_50,SE_50,SW_50,NW_50
0,1851.0,6.0,25.0,0.0,0.0,,HU,28.0,N,94.8,...,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
1,1851.0,6.0,25.0,0.0,60.0,,HU,28.0,N,95.4,...,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,1851.0,6.0,25.0,1.0,20.0,,HU,28.0,N,96.0,...,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,1851.0,6.0,25.0,1.0,80.0,,HU,28.1,N,96.5,...,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,1851.0,6.0,25.0,2.0,10.0,L,HU,28.2,N,96.8,...,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
5,1851.0,6.0,26.0,0.0,0.0,,HU,28.2,N,97.0,...,70.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
6,1851.0,6.0,26.0,0.0,60.0,,TS,28.3,N,97.6,...,60.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
7,1851.0,6.0,26.0,1.0,20.0,,TS,28.4,N,98.3,...,60.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
8,1851.0,6.0,26.0,1.0,80.0,,TS,28.6,N,98.9,...,50.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9,1851.0,6.0,27.0,0.0,0.0,,TS,29.0,N,99.4,...,50.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
10,1851.0,6.0,27.0,0.0,60.0,,TS,29.5,N,99.8,...,40.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
11,1851.0,6.0,27.0,1.0,20.0,,TS,30.0,N,100.0,...,40.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
12,1851.0,6.0,27.0,1.0,80.0,,TS,30.5,N,100.1,...,40.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
13,1851.0,6.0,28.0,0.0,0.0,,TS,31.0,N,100.2,...,40.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [51]:
def create_training_data(hurr_obj, columns, window_length = 6, hurricane_year = 0):
    all_dataframes = []
    for i in range(len(hurricanes)):
        if(int(hurricanes[i].year) > hurricane_year):
            current_df = hurricanes[i].hurr_data
            current_begin = 0
            current_end = current_begin + window_length
            while(current_end <= len(current_df)):
                hold = current_df[current_begin:current_end]
                hold = hold[columns]
                current_begin += 1
                current_end +=1
                all_dataframes.append(hold.reset_index())
    return all_dataframes

In [ ]:
hold1 = create_training_data(hurricanes, ['Latitude', 'Longitude', 'Max-wind', 'Max_Pressure'])

In [37]:
hold.reset_index()

,index,Year,Month,Day,Hour,Minute,Identifier,Status,Latitude,Lat_Hemisphere,...,Max-wind,Max_Pressure,NE_34,SE_34,SW_34,NW_34,NE_50,SE_50,SW_50,NW_50
0,9,1851.0,6.0,27.0,0.0,0.0,,TS,29.0,N,...,50.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
1,10,1851.0,6.0,27.0,0.0,60.0,,TS,29.5,N,...,40.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,11,1851.0,6.0,27.0,1.0,20.0,,TS,30.0,N,...,40.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,12,1851.0,6.0,27.0,1.0,80.0,,TS,30.5,N,...,40.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,13,1851.0,6.0,28.0,0.0,0.0,,TS,31.0,N,...,40.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [40]:
len(hold)

43550